*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #E5E5E5;
    padding-top: 60px;
    /* border: 0.5px solid #671ca4; */
    
    
}
.calculator{
    position: relative;
    display: grid;
    border: 1px solid #671ca4;
    background-color: white;
    /* border-radius: 10px; */
}
.calculator .value{
    width: 416px;
    grid-column: span 4;
    height: 50px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom:150px;
    font-size: 38px;
    
}
.calculator .value2{
    width: 416px;
    grid-column: span 4;
    height: 50px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    margin-top:50px;
    font-size: 38px;
    
}
.calculator span{
    display: grid;
    width: 104px;
    height: 102px;
    color: #fff;
    background: #08133F;
    place-items: center;
    border: 1px solid rgb(255, 255, 255);
    font-size: 32px;
}
.calculator span:hover{
    background: rgb(255, 255, 255);
    color: rgb(114, 122, 111);
}

.calculator span.arifmetic{
    background: #A772CF;
}
.calculator span.arifmetic:hover{
    background: rgb(255, 255, 255);
    color: rgb(107, 93, 93);
}

